<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>
    <!-- <link rel="stylesheet" href="/static/styles.css"> -->
    <link rel="stylesheet" href="/static/destiny.css">
    <link rel="stylesheet" href="/static/card.css">
</head>
<body>
    <header class="header">
        <h1> <a href="/"><b> DATA FORGE </b> </a></h1>
        <nav>
            <a class="nav_items" href="/destinos">Find your place</a>
            <!-- <a class="nav_items" href="/contacto">Contacto</a> -->
            <!-- <a class="nav_items" href="/informacion">Informacion</a> -->
            <a class="nav_items" href="/admin">Admin</a>
        </nav>
    </header>
    <main class="main-destinos">
        
        <form class="form-control" action="/destinos"  method="POST" >
          <input
            type="text"
            required=""
            placeholder="Type in the features of a city you would like to go"
            class="input input-alt"
            name="descripcion"
          />
          <span class="input-border input-border-alt"></span>
          <button type="submit" class="search">Search
            
          </button>
          
        </form>
        {% if city  %}
          
        <div class="notification">
            <div class="notiglow"></div>
            <div class="notiborderglow"></div>
            <a class="notititle" href="https://www.booking.com/searchresults.en.html?ss={{city}}%2C+{{state}}%2c+United+States" target="_BLANK">{{city}}</a>
            <div class="notibody">Click here to start booking...</div>
            <p>{{state}}</p>
        </div>

        {% elif error %}
          
        <div class="notification">
            <div class="notiglow"></div>
            <div class="notiborderglow"></div>
            <a class="notititle" href="/destinos" target="_BLANK">{{Error}}</a>
            <div class="notibody">Try Again</div>
        </div>
        {% endif %}
      
    </main>
    <div class="fulls">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
    <script>
        let search = document.querySelector(".search")
        let card = document.querySelector(".notification")
        let form = document.querySelector(".form-control")
        let fulls = document.querySelector(".fulls")
        if(card){
            card.addEventListener("click",()=> window.location.href = "https://www.booking.com/searchresults.en.html?ss={{city}}%2C+{{state}}%2c+United+States");
        }
        

        form.addEventListener("submit",(e)=>{
            // e.preventDefault()
            fulls.style.display = "flex"
        })
    </script>

</body>
</html>