<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/error.css">
</head>
<body>
    
<button>
  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
  <a href="/">Back</a>
</button>
    <div class="main_wrapper">
        <div class="main">
          <div class="antenna">
            <div class="antenna_shadow"></div>
            <div class="a1"></div>
            <div class="a1d"></div>
            <div class="a2"></div>
            <div class="a2d"></div>
            <div class="a_base"></div>
          </div>
          <div class="tv">
            <div class="cruve">
              <svg
                xml:space="preserve"
                viewBox="0 0 189.929 189.929"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                class="curve_svg"
              >
                <path
                  d="M70.343,70.343c-30.554,30.553-44.806,72.7-39.102,115.635l-29.738,3.951C-5.442,137.659,11.917,86.34,49.129,49.13
              C86.34,11.918,137.664-5.445,189.928,1.502l-3.95,29.738C143.041,25.54,100.895,39.789,70.343,70.343z"
                ></path>
              </svg>
            </div>
            <div class="display_div">
              <div class="screen_out">
                <div class="screen_out1">
                  <div class="screen">
                    <span class="notfound_text"> NOT FOUND</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="lines">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
            <div class="buttons_div">
              <div class="b1"><div></div></div>
              <div class="b2"></div>
              <div class="speakers">
                <div class="g1">
                  <div class="g11"></div>
                  <div class="g12"></div>
                  <div class="g13"></div>
                </div>
                <div class="g"></div>
                <div class="g"></div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="base1"></div>
            <div class="base2"></div>
            <div class="base3"></div>
          </div>
        </div>
        <div class="text_404">
          <div class="text_4041">4</div>
          <div class="text_4042">0</div>
          <div class="text_4043">4</div>
        </div>
      </div>
      
</body>
</html>